.comp_left_menu_list {
	--height: 100%;
	height: var(--height);
	// max-height: var(--height);
	// overflow-y: auto;
	overflow: hidden;
	position: relative;

	.menu-panel {
		max-height: calc(var(--height) - 150px);
		overflow: auto;
		margin-top: 10px;
	}
	.arco-icon {
		&:not(
				.arco-icon-menu-unfold,
				.arco-icon-menu-fold,
				.arco-icon-down,
				.avatar-icon
			) {
			// width: 18px;
			flex-shrink: 0;
			margin-right: 12px !important;
		}
	}

	.user-info-panel {
		display: flex;
		align-items: center;
		padding-left: 20px;
		column-gap: 12px;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 48px;

		font-family: Alibaba PuHuiTi, Alibaba PuHuiTi;
		font-weight: 500;
		font-size: 12px;
		color: #4e5969;
	}
}
.logo-small {
	background-color: #3491fa;

	background-image: linear-gradient(
		45deg,
		blue 10%,
		transparent 10%,
		transparent 20%,
		blue 20%,
		blue 30%,
		transparent 30%,
		transparent 40%,
		blue 40%,
		blue 50%,
		transparent 50%,
		transparent 60%,
		blue 60%,
		blue 70%,
		transparent 70%,
		transparent 80%,
		blue 80%,
		blue 90%,
		transparent 90%,
		transparent
	);
}
.logo-panel {
	box-sizing: border-box;
	padding-top: 10px;
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Quantum;
	font-size: 20px;
	/* 使背景覆盖整个视口高度 */
	background-color: #3491fa;
	/* 背景颜色 */
	background-image: linear-gradient(
		45deg,
		blue 25%,
		transparent 25%,
		transparent 50%,
		blue 50%,
		blue 75%,
		transparent 75%,
		transparent
	);
	background-size: 50px 50px;
	border-radius: 8px;
	.logo-img {
		// background-color: rgba(255, 255, 255, 0.8);
	}
	.logo-text {
		color: white;
	}
}
