.comp-beautiful-presentation {
	.icon-btn {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.history-badge {
		min-height: 16px;
		height: 16px;
		min-width: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 10px;
		line-height: 16px;
		padding: 0 4px;
	}

	.scale-text {
		font-weight: 500;
		font-size: 14px;
		color: #000000;
	}

	.status-tip {
		background-color: rgba(255, 255, 255, 0.6);
		border-bottom-right-radius: 4px;
	}

	.arco-select-popup {
	}

	.context-menu {
		.arco-menu-inner {
			padding: 0;
			.arco-menu-item {
				margin-bottom: 0;
			}
		}
	}
}
.context-menu-panel {
	border-radius: 4px;
	overflow: hidden;
	z-index: 9999;
}

.comp-beautiful-presentation-select-category-trigger {
	.arco-select-popup {
		width: fit-content;
	}
}
