.comp-operate-group {
	display: flex;
	justify-content: center;
	flex-direction: column;
	.desc {
		max-width: 100%;
		word-break: break-all;
		color: #a9aeb8;
		font-size: 14px;
		padding-bottom: 8px;
	}
}
