@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--header-height: 0px;
}

@font-face {
	font-family: 'trigram';
	src: url('./assets/fonts/trigram/Trigram-Light.ttf') format('truetype');
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: 'trigram';
	src: url('./assets/fonts/trigram/Trigram-Regular.ttf') format('truetype');
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: 'Quantum';
	src: url('./assets/fonts/Quantum.otf') format('opentype');
	font-weight: 400; /* Regular */
	font-style: normal;
}

kbd {
	background-color: #e4e3e3;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	// box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	// 	0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
	color: #333;
	display: inline-block;
	font-size: 0.85em;
	font-weight: 700;
	line-height: 1;
	padding: 4px 8px;
	white-space: nowrap;
}
