.image-mark-stage-group {
	.shape-rect {
		.tl,
		.br {
			cursor: nw-resize;
		}
		.tr,
		.bl {
			cursor: ne-resize;
		}
		.t,
		.b {
			cursor: n-resize;
		}
		.l,
		.r {
			cursor: e-resize;
		}
	}

	.shape-label {
		user-select: none;
	}

	.edit-move-point {
		cursor: grab;
	}

	.edit-moving-point {
		cursor: grabbing;
	}

	.shape-enable-move {
		cursor: move;
	}
}
