.image-mark-render-item {
	cursor: auto;

	.image-mark-stage-group {
		&.readonly {
			.tl,
			.br {
				cursor: auto;
			}
			.tr,
			.bl {
				cursor: auto;
			}
			.t,
			.b {
				cursor: auto;
			}
			.l,
			.r {
				cursor: auto;
			}

			.edit-move-point {
				cursor: auto;
			}

			.edit-moving-point {
				cursor: auto;
			}

			.shape-enable-move {
				cursor: auto;
			}
		}
		.shape-circle,
		.shape-rect,
		.shape-image {
			.tl,
			.br {
				cursor: nw-resize;
			}
			.tr,
			.bl {
				cursor: ne-resize;
			}
			.t,
			.b {
				cursor: n-resize;
			}
			.l,
			.r {
				cursor: e-resize;
			}
		}

		.shape-label {
			user-select: none;
		}

		.edit-move-point {
			cursor: grab;
		}

		.edit-moving-point {
			cursor: grabbing;
		}

		.shape-enable-move {
			cursor: move;
		}

		&.status-shape_drawing,
		&.status-shape_editing {
			.shape-enable-move {
				cursor: auto;
			}
		}
	}
}
